*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
:root {
  --primary-color: hsl(228, 31%, 28%);
  --primary-color-light: rgb(18, 146, 238);
  --primary-color-light-2: rgb(134, 203, 252);
  --secondary-color: hsl(209, 75%, 39%);
  --accent-color: hsl(210, 40%, 96%, 81%);
  --accent-color-1: hsl(210, 40%, 96%, 100%);
  --background-color: hsl(0, 0%, 100%);

  --neutral-soft-red: hsl(0, 68%, 56%);
  --neutral-soft-brown: hsl(284, 3%, 34%);
  --neutral-soft-white: hsl(0, 0, 88%);
  --neutral-soft-grey: hsl(0, 0%, 93%);
  --neutral-soft-green: hsl(113, 69%, 37%);
  --neutral-soft-green-1: hsl(111, 82%, 31%);
  --neutral-soft-pink: hsl(319, 61%, 85%, 60%);
}
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.header {
  display: flex;
  margin: 0 auto;
  padding-top: 1rem;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: space-between;
}
.search-container {
  position: relative;
  display: inline-block;
}
.sidebar-search-container {
  position: relative;
  display: inline-block;
  display: none;
}
.search-input {
  border: none;
  width: 47rem;
  outline: none;
  padding: 0.9rem;
  padding-left: 4rem;
  border-radius: 1rem;
  background-color: var(--accent-color);
  font-family: 'Bricolage Grotesque', sans-serif;
}
.sidebar-search-input {
  border: none;
  width: 40rem;
  height: 3rem;
  outline: none;
  padding: 0.9rem;
  padding-left: 4rem;
  border-radius: 0.4rem;
  background-color: var(--accent-color);
  font-family: 'Bricolage Grotesque', sans-serif;
}
.search-icon {
  top: 50%;
  left: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  pointer-events: none;
  transform: translateY(-50%);
}
.logo {
  font-size: 3.1rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--primary-color-light);
  font-family: 'Tangerine', cursive;
}
.checkout {
  font-size: 2rem;
  text-decoration: none;
  color: var(--primary-color-light);
  font-family: 'Poppins', sans-serif;
}
.vertical-line {
  width: 2px;           
  height: 30px;   
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  background-color: var(--primary-color-light);
}
.nav-sidebar-logo {
  font-size: 3.1rem;
  display: none;
  color: var(--background-color);
  font-family: 'Tangerine', cursive;
}
.user-cart-container {
  display: flex;
  justify-content: flex-end;
}
.user-icon,
.cart-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.user,
.cart {
  gap: 0.5rem;
  display: flex;
  min-width: 1.5rem;
  align-items: center;
}
.topnav {
  gap: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  display: none;
}
.menu i {
  font-size: 1.5rem;
  margin-top: 0.4rem;
  color: var(--primary-color);
}
.close-menu {
  top: 0;
  right: 0;
  padding: 1rem;
  display: none;
  position: absolute;
}
.close-menu i {
  font-size: 1.5rem;
  color: var(--background-color);
}
.login_signup_link,
.cart_link {
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Bricolage Grotesque', sans-serif;
}
ul {
  gap: 3rem;
  display: flex;
  list-style: none;
}
.cart-count {
  font-weight: 500;
  color: var(--background-color);
  margin-top: -1.5rem;
  margin-left: -1rem;
  position: relative;
  padding: 2px;
  width: 1.5rem;
  border-radius: 50%;
  font-size: 0.8rem;
  text-align: center;
  background-color: var(--neutral-soft-red);
  font-family: 'bricolage grotesque', sans-serif;
}
.nav-link {
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'Bricolage Grotesque', sans-serif;
}
.navbar-border {
  left: 50%;
  width: 99vw;
  height: 1px;
  position: relative;
  z-index: 998;
  transform: translateX(-50%);
  background-color: var(--neutral-soft-grey);
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  list-style: none;
}
.breadcrumb-item {
  display: flex;
  font-weight: 500;
  align-items: center;
  font-family: 'bricolage Grotesque', sans-serif;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: var(--primary-color);  
  content: "/";
}
.breadcrumb-item a {
  text-decoration: none;
  color: var(--primary-color-light);
}
.breadcrumb-item a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
.breadcrumb-item.active {
  color: var(--neutral-soft-brown);
}

.checkout-items-container {
  gap: 2rem;
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 50% 50%;
}
.checkout-labels {
  height: 40rem;
  padding: 1rem 2rem 1rem 2rem;
  justify-content: space-between;
  background-color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.checkout-labels h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: 'bricolage grotesque', sans-serif;
}
.checkout-input {
  margin-top: 2rem;
}
.info {
  gap: 1rem;
  width: 100%;
  display: flex;
}
.details {
  gap: 1.5rem;
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
}
input:not(.search-input, .sidebar-search-input) {
  gap: 1rem;
  width: 100%;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid var(--neutral-soft-grey);
  font-family: 'bricolage Shelleyque', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}  
.payment h1 {
  font-size: 1.2rem;
  padding-top: 2rem;
}
label {
  font-size: 1rem;
  font-family: 'bricolage Shelleyque', sans-serif;
}
.payment-input {
  display: flex;
  flex-direction: column;
}
.payment-option {
  gap: 0.5rem;
  height: 50px;
  display: flex;
  font-weight: 600;
  padding-left: 1rem;
  align-items: center;
  color: var(--primary-color);
}
.payment-label:hover {
  background-color: var(--neutral-soft-grey);
}
.payment-label img {
  width: 5rem;
}
.payment-label {
  display: flex;
  margin-top: 1rem;
  border-radius: 0.2rem;
  border: 1px solid var(--neutral-soft-grey);
  justify-content: space-between;
}
.summary-section {
  height: 30rem;
  background-color: var(--accent-color-1);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.summary-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.summary-container h1 {
  padding-bottom: 1rem;
  margin: 1rem auto 0 2rem;
  color: var(--primary-color);
  font-family: 'bricolage grotesque', sans-serif;
  border-bottom: 1px solid var(--neutral-soft-grey);
}
.quantity {
  gap: 3rem;
  float: right;
  display: flex;
  margin-right: 4rem;
}
.quantity p {
  color: var(--primary-color);
  font-family: 'bricolage grotesque', sans-serif;
}
.summary-product {
  display: flex;
  margin-top: 1rem;
}
.summary-item {
  margin-left: 1rem;
  overflow-y: scroll;
  max-height: 330px;
  margin-right: 0.5rem;
}
.summary-item::-webkit-scrollbar {
  width: 0.7rem;
}
.summary-item::-webkit-scrollbar-track {
  border-radius: 2rem;
  background-color: var(--neutral-soft-grey);
}
.summary-item::-webkit-scrollbar-thumb {
  border-radius: 2rem;  
  background-color: var(--primary-color-light-2);
}
.summary-image {
  width: 6rem;
  height: 6rem;
}
.summary-name {
  margin-top: 2rem;
  margin-left: 1rem;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--primary-color);
  font-family: 'bricolage grotesque', sans-serif;
} 
.summary-info {
  gap: 4rem;
  width: 30%;
  float: right;
  display: flex;
  margin-top: -6rem;
  margin-right: 2rem;
}
.total-quantity, .total-price {  
  font-family: 'bricolage grotesque', sans-serif;
}
.total-quantity {
  margin-top: 2rem;
  margin-right: 1rem;
}
.total-price {
  margin-top: 2rem;
  font-weight: bold;
  color: var(--neutral-soft-red);
}
.checkout-btn {
  width: 100%;
  border: none;
  display: flex;
  cursor: pointer;
  margin: 1.5rem auto;
  font-family: 'bricolage grotesque', sans-serif;
}
.checkout-btn button {
  all: unset;
  width: 100%;
  border-radius: 0.2rem;
  text-align: center;
  padding: 0.7rem;
  color: var(--background-color);
  background-color: var(--secondary-color);
}
.subtotal {
  gap: 1rem;
  display: flex;
  padding-top: 1.2rem;
  padding-left: 1.6rem;
  bottom: 0;
  width: 100%;
  position: absolute;
  border-top: 1px solid var(--neutral-soft-grey);
}
.subtotal-label {
  font-weight: bold;
  color: var(--primary-color);
  font-family: 'bricolage Shelleyque', sans-serif;
}
.subtotal-value {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--neutral-soft-red);
  font-family: 'bricolage Shelleyque', sans-serif;
}
.site-footer {
  margin-top: 20rem;
  background-color: var(--accent-color);
}
.footer-content {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 6rem;
  grid-template-columns: repeat(4, 1fr);
}
.section-title {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-family: 'Bricolage Grotesque', sans-serif;
}
.category-item, 
.account-link, 
.quick-link-item {
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  font-family: 'bricolage Grotesque', sans-serif;
}
.payment-social {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.social-icons {
  gap: 1rem;
  width: 2rem;
  display: flex;
}
.payment-image {
  width: 10rem;
}
.footer-bottom {
  min-height: 8vh;
  background-color: var(--primary-color);
  text-align: center;
}
.footer-copyright {
  font-weight: 400;
  font-size: 1.6rem;
  padding-top: 1.2rem;
  color: var(--accent-color);
  font-family: 'Bricolage Grotesque', sans-serif;
}
.brand-name {
  font-family: 'Tangerine', cursive;  
}
@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  .topnav {
    gap: 3rem;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .search-input {
    width: 40rem;
    max-width: calc(100% - 3rem);
  }
  .logo {
    font-size: 2.5rem;
    width: 100%;
  }
  .user-cart-container {
    gap: 2rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .login_signup_link {
    flex-shrink: 0;
    min-width: 120px;
    text-align: right;
  }
  .user-icon {
    margin-right: -1rem;
  }
  .cart {
    display: flex;
    align-items: center;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .checkout-items-container {
    grid-template-columns: 50% 50%;
  }
  .quantity {
    margin-right: 2rem;
  }
  .summary-info {
    margin-right: 2.5rem;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .search-input {
    width: 30rem;
    max-width: calc(100% - 3rem);
  }
  .login_signup_link,
  .cart_link {
    display: none;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .user-icon, .cart-icon {
    display: inline-block;
  }
  .checkout-items-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .logo {
    font-size: 2.3rem;
  }
  .search-container {
    display: none;
  }
  .nav-sidebar-logo {
    top: 2rem;
    left: 2rem;
    display: flex;
    list-style: none;
    font-size: 3rem;
    margin-top: -1rem;
    position: absolute;
    color: var(--primary-color);
  }
  /* search */
  .sidebar-search-container {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .sidebar-search-input {
    width: 100%;
    height: 2.8rem;
    border-radius: 0.4rem;
    max-width: calc(100% - 3rem);
  }
  .search-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
  /* search */
  .navbar {
    display: none;
  }
  .topnav .icon {
    display: block;
    float: right;
  }
  .topnav {
    gap: 1rem;
  }
  .user-cart-container {
    flex-direction: column;
  }
  .menu {
    display: block;
  }
  .close-menu {
    display: block;
  }
  ul {
    top: 0;
    left: 0;
    gap: 2rem;
    width: 500px;
    z-index: 999;
    display: flex;
    height: 100rem;
    position: fixed;
    text-align: left;
    overflow-y: auto;
    font-size: 1.1rem;
    padding-top: 6rem;
    padding-left: 2rem;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .nav-link {
    font-weight: 500;
    color: var(--primary-color);
  }
  .navbar-border {
    display: none;
  }
  .footer-content {
    grid-template-columns: repeat(3, 1fr);
  }
  .account-info, .quick-links {
    margin-left: 4rem;
  }
  .categories {
    margin-bottom: 1rem;
  }

}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .search-input {
    display: none;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .account-info {
    margin-left: 2rem;
  }
  .quick-links {
    margin-left: 0;
  }
  .summary-product {
    display: flex;
    flex-direction: column;
  }
  .summary-name {
    margin: -0.5rem 0 0 1rem;
  }
  .summary-info {
    margin-top: -10rem;
  }
  .checkout-btn {
    margin-top: 5rem;
  }
}
@media (max-width: 425px) {
  .container {
    width: 100%;
  }
  .close-menu {
    padding: 1rem 5.5rem 0 0;
  }
	.sidebar-search-container {
    width: 88%;
  }
  .payment-image {
    width: 8rem;
  }
  .social-icons img {
    width: 2rem;
  }
  .footer-content {
    margin: 0 auto;
    padding: 2rem 1rem 2rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .quantity {
    margin-right: 2rem;
  }
  .summary-info {
    margin: -8rem 2.5rem 0 0;
  }
  .checkout-btn {
    margin-top: 5rem;
  }
}
@media (max-width: 375px) {
  .container {
    width: 100%;
  }
  .close-menu {
    padding: 1rem 2.5rem 0 0;
  }
	.sidebar-search-input {
    width: 20rem;
  }
  .payment-image {
    width: 8rem;
  }
  .social-icons img {
    width: 2rem;
  }
  .footer-content {
    margin: 0 auto;
    padding: 2rem 1rem 2rem 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}